@import "../GlobalStyles.scss";

.marketPageWrapper {
  position: relative;
  width: 100vw;
    height: fit-content;
  .tableWrapper {
    position: absolute;
    border-radius: 18px;
    inset: 0;
    margin: auto;
    width: clamp(280px, 60vw, 700px);
    height: fit-content;
    background-color: $gunz;
    opacity: 0.8666;
    backdrop-filter: blur(8px);
  }
}
