@import "../GlobalStyles.scss";

.marketPageWrapper {
  position: relative;
  width: 100vw;
    height: fit-content;
  .tableWrapper {
    position: absolute;
    border-radius: 18px;
    inset: 0;
    margin: auto;
    width: clamp(280px, 70vw, 800px);
    height: 50vh;
    overflow: scroll;
    background-color: $gunz;
    opacity: 0.8666;
    backdrop-filter: blur(8px);
    .cornerBackButtonWrapper {
      
      position: absolute;
      top: 0;
      left: 0;
      margin: 1em 1.5em;
      
      
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
     
    }
    h1 {
      margin: 0.5em 0 6px;
    }
    .tableDataWrapper {
      .errorText {
          @extend .paragraph-text;
          color: $pee;
          font-weight: 500;
          opacity: 1;
      }
    }
  }
}
