@import "../GlobalStyles.scss";

.marketPageWrapper {
  position: relative;
  width: 100vw;
  height: fit-content;
  .tableWrapper {
    position: absolute;
    border-radius: 18px;
    inset: 0;
    margin: auto;
    width: clamp(280px, 70vw, 800px);
    height: 70vh;
    overflow: scroll;
    background-color: $gunz;
    opacity: 0.8666;
    backdrop-filter: blur(8px);
    .cornerBackButtonWrapper {
      position: absolute;
      top: 0;
      left: 0;
      margin: 1em 1.5em;

      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    h1 {
      margin: 0.5em 0 6px;
    }
    .tableDataWrapper {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 2em;
      align-items: center;
      .errorText {
        @extend .paragraph-text;
        margin: auto;

        color: $pee;
        font-weight: 500;
        opacity: 1;
        font-size: clamp(1.25em, 4vw, 2em);
        text-wrap: balance;
      }
      .marketTable {
        width: 100%;
        thead tr th {
          @extend .paragraph-text;
          font-size: 1.5em;
          font-weight: 600;
          color: $pee;
          text-align: center;
        }
      }
    }
  }
}
