@import "../GlobalStyles.scss";

.orangeButtonContainer {
  margin: 0;
  .orangeButton {
    @extend .paragraph-text;
    background-color: $burnt;
    border: none;
    border-radius: 6px;
    color: $white;
    letter-spacing: 0.05em;
    margin: 0;
    cursor: pointer;
    padding: 0.25em 0.7em;
    font-weight: 100;
    font-size: 1.5rem;
    transition: all 250ms ease-out;
    box-shadow: 1px 2px 4px #00000040;

    &:hover {
      background-color: $teal;
      color: $gunz;
      transform: scale(1.035);
      letter-spacing: 0.078em;
      font-weight: 700;
      box-shadow: 1px 3px 5px 2px #00000040;
      transition: all 175ms ease-out;
    }

    // size from prop
    &.size-tiny {
      padding-block: 0.25em;
      font-size: 1.1rem;
    }

    &.size-small {
      padding-block: 0.25em;
      font-size: 1.3rem;
    }
    &.size-medium {
      padding-block: 0.25em;
      font-size: 1.5rem;
    }
    &.size-large {
      padding-block: 0.25em;
      font-size: 1.7rem;
    }
    &.size-huge {
      padding-block: 0.25em;
      font-size: 1.9rem;
    }
    .orangeButtonInner {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.3em;
     svg {
      margin-bottom: -3px;
     }
    }
  }
}
