@import "../src/GlobalStyles.scss";

.App {
  position: relative;
  text-align: center;
  color: white;
  background: linear-gradient(to bottom, $black 10%, $blood 40%, $blood 65%, $black 88%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  overflow: hidden;
}




// REDUCE MOTION
@media (prefers-reduced-motion: no-preference) {
  .App {
    .App-header {
      .App-logo {
        animation: App-logo-spin infinite 20s linear;
      }
    }
  }
}