@import "../GlobalStyles.scss";

.tradingViewWidget {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: row;
    gap: 1em;
    .tradingview-widget-container {
        iframe:not(:first-of-type) {
            display: none !important;
        }
    }
}