@import "../GlobalStyles.scss";

.svgBlobsContainer {
  position: absolute;
  width: 120vw;
  height: 120vh;
  overflow: hidden;
  top: 16%;
  svg {
    position: absolute;
    transform-origin: center;
    transform-box: fill-box;
    opacity: 0.8;
    &#crown-blob {
      bottom: -56%;
      right: -44%;
      transform: rotate(36deg) scaleY(1.1) scaleX(1.2);
      opacity: 1;
    }
    &#yellow-blob {
      left: 5%;
      bottom: -9%;
      transform: rotate(10deg);
    }
    &#sky-blob {
      left: -6%;
      top: 43%;
      transform: rotate(80deg);
      opacity: 1;
    }
    &#white-blob {
    right: -16%;
    bottom: -2%;
    opacity: 1;
    transform: rotate(160deg);
    }
    &#teal-blob {
      right: -32%;
      bottom: -79%;
      transform: rotate(194deg);
    }
  }
}
