@import "../GlobalStyles.scss";

#increaseFormComponent {
  position: relative;
  width: 280px;
  h2 {
    @extend .raleway;
    @extend .white-underline;
    font-weight: 200;
    color: $white;
    text-align: center;
    margin-block: 0 0.5em;
    font-size: clamp(2rem, 6cqi, 2.75rem)
  }
  #increaseForm {
    background-color: $gunz;
    padding: 0.75em 1.5em 1em;
    border-radius: 0.5em;
    // min-width: 300px;

    input {
      &[type="text"],
      &[type="number"] {
        @extend .paragraph-text;
        background-color: $gunz;
        border: none;
        border-bottom: 1px solid $white;
        color: $white;
        margin: 0.5em;
        padding: 0.35em;
        letter-spacing: 0.03em;
        &:focus {
          outline: none;
        }
      }
      &[type="checkbox" i] {
        width: 1.5em;
      }
     
    }

    // CUSTOM SWITCH STYLES
    .switchContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 0.6em;
      gap: 0.5em;
      .switch {
        position: relative;
        display: inline-block;
        width: 46px;
        height: 26px;

        input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: $sword;
          transition: all 180ms ease-in;
          border-radius: 4px;

          &:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 3px;
            bottom: 3px;
            background-color: white;
            transition: all 120ms ease-in;
            border-radius: 3px;
          }
        }

        input:checked + .slider {
          background-color: $burnt;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px $burnt;
        }

        input:checked + .slider:before {
          transform: translateX(20px);
        }
      }

      .switchLabel {
        @extend .paragraph-text;
        width: 54px;
        display: flex;
        margin: 0;
        &:first-of-type {
          justify-content: flex-end;
        }
        &:last-of-type {
          justify-content: flex-start;
        }
        span {
          color: $sword;
          transform: scale(1);
          opacity: 0.5;
          font-weight: normal;
          transition: all 350ms ease-out 0ms;
          &.activeLabel {
            opacity: 1;
            transform: scale(1.1);
            color: $burnt;
            font-weight: bold;
            transition: all 280ms ease 100ms;
          }
        }
      }
    }

    .orangeButtonContainer {
      margin-block: 1.5em 0.75em;
    }
  }
}
